.wrapper {
    width: var(--aside-width);
    background-color: #292e5a;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
    background-color: #252851 ;

    img {
        width: 137px;
        height: 51px;
        object-fit: cover;
    }
}